<section class="productListContainer flex flex-col gap-10">
    <h1 class="text-white text-center text-xl">Productos disponibles</h1>
    <article class="productList flex felx-col w-screen justify-center items-center gap-5">
        {{#each products}}
        <div class="flex justify-center w-40 h-40">
            <div class="rounded-lg shadow-lg bg-white">
                <img class="rounded-t-lg h-28 w-40" src={{this.thumbnail}} alt="" />
                <div class="flex justify-between p-2">
                    <h5 class="text-gray-900 text-md font-medium mb-2">{{this.title}}</h5>
                    <p class="text-gray-700 text-base mb-4">${{this.price}}</p>
                </div>
            </div>
        </div>
        {{/each}}
    </article>
</section>