<h1>REGISTRO</h1>

<form action="/users/registro" method="post">
    Nombre: <input type="text" name="nombre" id="nombre">
    Apellido: <input type="text" name="apellido" id="apellido">
    Email: <input type="email" name="email" id="email">
    Edad: <input type="number" name="edad" id="edad">
    Password: <input type="password" name="password" id="password">
    <input type="submit" value="CREAR">
</form>