<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css"
    />
    <link rel="stylesheet" href="/src/public/styles.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>WEBSOCKETS</title>
  </head>
  <body class="bg-gray-900">
    <header class="flex justify-center items-center p-20">
      <h1 class="text-4xl font-semibold text-slate-50">WEBSOCKETS</h1>
    </header>
    <main>
      {{{body}}}
    </main>
  </body>
</html>